<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/content/main.css" media="screen" title="no title" charset="utf-8">
    <title>C# Code Review</title>
  </head>
  <body>
    <div class="container">
      <header class="section" id="header">
        <h1>Shoe Inventory</h1>
      </header>
      <div class="section" id="stores">
        <h3>Stores</h3>
        <form action="/store/new" method="post">
          <input type="text" name="store-name">
          <button type="submit">Add</button>
        </form>
        @if (Model.AllStores().Count>0)
        {
          <ul>
            @foreach (var item in Model.AllStores())
            {
              <p class="list">
                <a href="/store/@item.GetId()">@item.GetName()</a> <span><a href="/store/delete/@item.GetId()"> | DELETE |</a> </span>
              </p>
            }
          </ul>
        }
        else
        {
          <p>No Stores Entered Yet</p>
        }
        <p><a href="/store/empty">Delete All</a></p>
      </div>
      <div class="section" id="brands">
        <h3>Brands</h3>
        <form action="/brand/new" method="post">
          <input type="text" name="brand-name">
          <button type="submit">Add</button>
        </form>
        @if (Model.AllBrands().Count>0)
        {
          <ul>
            @foreach (var item in Model.AllBrands())
            {
            <p class="list">
              <a href="/brand/@item.GetId()">@item.GetName()</a> <span><a href="/brand/delete/@item.GetId()"> | DELETE |</a> </span>
            </p>
            }
          </ul>
        }
        else
        {
          <p>No Brands Entered Yet</p>
        }
        <p><a href="/brand/empty">Delete All</a></p>
      </div>
      <div class="section" id="stock">
        @if(Model.AllBrands().Count>0 && Model.AllStores().Count>0)
        {
          <h3>Update Stock Info</h3>
          <br><br>
          <form id="update-form" action="/update" method="post">
            <label for="update-store">Store</label>
            <select name="update-store">
              @foreach (var item in Model.AllStores())
              {
                <option value="@item.GetId()">@item.GetName()</option>
              }
            </select>
            <label for="update-brand">Brand</label>
            <select name="update-brand">
              @foreach (var item in Model.AllBrands())
              {
                <option value="@item.GetId()">@item.GetName()</option>
              }
            </select>
            <br><br>
            <button type="submit">Update</button>
          </form>
        }
        else
        {
          <h2>Enter stores and brands before updating inventories.</h2>
        }

      </div>
    </div>
  </body>
